.text-input{
    display: flex;
    flex-direction: column;
    margin: 10px 0;

}
.text-input label{
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 8px;
}
.text-input input{
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 5px;
    padding: 10px 10px;
    box-sizing: border-box;
    outline-color: #21233d;
    font-size: 20px;
}
.botonera{
    margin: 30px;
    display: flex;
    gap: 3em;
    flex-direction: row;
    justify-content: space-between;
    width: 40%;
}

.botonera div{
   display: flex;
   flex-direction: row;
   gap: 3em;
}
