header {
    display: flex;
    justify-content: space-between;
    background-color: black;
    height: 5rem;
    align-items: center;
    border-bottom: solid 1px whitesmoke;
  }
  header a img {
    width: 35%;
  }
  .btnHeader {
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border: none;
    margin-right: 2.5em;
    transition: 0.8s all;
    border: solid 1px white;
  }
  .btnHeader:hover {
    cursor: pointer;
    background-color: #21233d;
    border: solid 0.1px red;
  }